@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500;1,300&family=Lugrasimo&family=Lumanosimo&display=swap');

*{
  box-sizing: border-box;
}

body{
  background-image: url(/images/home.webp);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown-container{
  display: flex;

}

h1{
  font-size: 4rem;
  margin-top: -10rem;
}

.big-text{
  font-size: 6rem;
  margin: 0 3rem;
  line-height: 1;
}

.sp-element {
  text-align: center;
}

.sp-element span{
  font-size: 2rem;
}


